$font-family-base: "Open Sans", sans-serif !default;
$font-size-base: 1rem !default;
$line-height-base: 1.5 !default;

$white: #fff !default;
$gray-light: #f8f9fa !default;
$gray: #6c757d !default;
$gray-dark: #343a40 !default;
$black: #000 !default;

$primary-color: #e55b50 !default;
$body-bg: #e8e9e8 !default;
$color-base: $gray-dark !default;
$link-color: $gray-dark !default;
$link-hover-color: lighten($link-color, 15%) !default;

$image-size: 100px;
